In [2]:
import pandas as pd

In [3]:
df= pd.read_csv("spam.csv", encoding="latin-1")

In [11]:
df.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1, inplace=True)

In [12]:
df

     class                                            message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

# Features and Labels

In [13]:
df['label'] = df['class'].map({'ham': 0, 'spam': 1})

In [14]:
df

     class                                            message  label
0      ham  Go until jurong point, crazy.. Available only ...      0
1      ham                      Ok lar... Joking wif u oni...      0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...      1
3      ham  U dun say so early hor... U c already then say...      0
4      ham  Nah I don't think he goes to usf, he lives aro...      0
...    ...                                                ...    ...
5567  spam  This is the 2nd time we have tried 2 contact u...      1
5568   ham              Will Ì_ b going to esplanade fr home?      0
5569   ham  Pity, * was in mood for that. So...any other s...      0
5570   ham  The guy did some bitching but I acted like i'd...      0
5571   ham                         Rofl. Its true to its name      0

[5572 rows x 3 columns]

In [15]:
X = df['message']

In [16]:
y = df['label']

# Extract Feature With CountVectorizer

In [23]:
from sklearn.feature_extraction.text import CountVectorizer
import pickle

In [19]:
cv = CountVectorizer()

In [20]:
X = cv.fit_transform(X) # Fit the Data

In [24]:
pickle.dump(cv, open('tranform.pkl', 'wb'))

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

# Naive Bayes Classifier

In [27]:
from sklearn.naive_bayes import MultinomialNB

In [28]:
clf = MultinomialNB()

In [29]:
clf.fit(X_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [30]:
clf.score(X_test,y_test)

0.9793365959760739

In [31]:
filename = 'nlp_model.pkl'

In [32]:
pickle.dump(clf, open(filename, 'wb'))

In [ ]:
#Alternative Usage of Saved Model
# joblib.dump(clf, 'NB_spam_model.pkl')
# NB_spam_model = open('NB_spam_model.pkl','rb')
# clf = joblib.load(NB_spam_model)